In [1]:
import pandas as pd
import pingouin as pg

data = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/ToothGrowth.csv'

df = pd.read_csv(data, index_col=0)
df.head()

    len supp  dose
1   4.2   VC   0.5
2  11.5   VC   0.5
3   7.3   VC   0.5
4   5.8   VC   0.5
5   6.4   VC   0.5

In [2]:
aov = pg.anova(dv='len', between=['supp', 'dose'], data=df,
             detailed=True)

print(aov)

        Source        SS  DF        MS          F         p-unc       np2
0         supp   205.350   1   205.350  15.571979  2.311828e-04  0.223825
1         dose  2426.434   2  1213.217  91.999952  4.046303e-18  0.773109
2  supp * dose   108.319   2    54.160   4.107004  2.186003e-02  0.132028
3     residual   712.106  54    13.187        NaN           NaN       NaN