## How to Make a Dataframe from a Dictionary
This is the Jupyter Notebook for the [YouTube video](https://youtu.be/mJ3IiOjmY-M) (and blog post) about [how to convert a Python dictionary to a Pandas Dataframe](https://www.marsja.se/how-to-convert-a-python-dictionary-to-a-pandas-dataframe/).

### Step 1: Get the Data
In the first step you need to gather or collect the data. E.g., we use the first five rows from this table: https://pypl.github.io/PYPL.html

### Step 2: Type the Data and Create the Dict
In the second step, you'll have to type the data into code and create a dictionary:

In [1]:
data = {'Rank':[1, 2, 3, 4, 5],
       'Language': ['Python', 'Java',
                   'Javascript',
                   'C#', 'PHP'],
       'Share':[29.88, 19.05, 8.17,
               7.3, 6.15],
       'Trend':[4.1, -1.8, 0.1, -0.1, -1.0]}

print(data)

{'Rank': [1, 2, 3, 4, 5], 'Language': ['Python', 'Java', 'Javascript', 'C#', 'PHP'], 'Share': [29.88, 19.05, 8.17, 7.3, 6.15], 'Trend': [4.1, -1.8, 0.1, -0.1, -1.0]}

### Step 3: Convert the Dictionary to a Pandas Dataframe:

In [2]:
import pandas as pd


df = pd.DataFrame(data)

display(df)

   Rank    Language  Share  Trend
0     1      Python  29.88    4.1
1     2        Java  19.05   -1.8
2     3  Javascript   8.17    0.1
3     4          C#   7.30   -0.1
4     5         PHP   6.15   -1.0

## OrderedDict:

In [3]:
from collections import OrderedDict

data = OrderedDict([('Trend', [4.1, -1.8, 0.1, 
                              -0.1, -1.0]),
                   ('Rank',[1, 2, 3, 4, 5]),
                   ('Language', ['Python', 'Java',
                                 'Javascript',
                                 'C#', 'PHP']),
                   ('Share', [29.88, 19.05, 8.17,
                              7.3, 6.15])])

display(data)

OrderedDict([('Trend', [4.1, -1.8, 0.1, -0.1, -1.0]),
             ('Rank', [1, 2, 3, 4, 5]),
             ('Language', ['Python', 'Java', 'Javascript', 'C#', 'PHP']),
             ('Share', [29.88, 19.05, 8.17, 7.3, 6.15])])

## Custom Indexes:

In [4]:
df = pd.DataFrame(data, index = ['A', 'B',
                                'C', 'D', 'E'])

display(df)

   Trend  Rank    Language  Share
A    4.1     1      Python  29.88
B   -1.8     2        Java  19.05
C    0.1     3  Javascript   8.17
D   -0.1     4          C#   7.30
E   -1.0     5         PHP   6.15

## Skip Data:

In [5]:
df = pd.DataFrame(data, index = ['A', 'B',
                                'C', 'D', 'E'],
                 columns=['Trend', 'Rank'])

display(df)

   Trend  Rank
A    4.1     1
B   -1.8     2
C    0.1     3
D   -0.1     4
E   -1.0     5

## Orientatation:

In [6]:
df = pd.DataFrame.from_dict(data, orient='index',
                           columns=['A', 'B', 'C',
                                   'D', 'E'])

display(df)

               A      B           C    D     E
Trend        4.1   -1.8         0.1 -0.1    -1
Rank           1      2           3    4     5
Language  Python   Java  Javascript   C#   PHP
Share      29.88  19.05        8.17  7.3  6.15