## Read .sav File using Pyreadstat

In [1]:
import pyreadstat

df, meta = pyreadstat.read_sav('./SimData/survey_1.sav')

type(df)

pandas.core.frame.DataFrame

In [2]:
df.head()

    ID    Name     Day   Age  Response  Gender
0  1.0    John  Fourth  23.0  0.348566     0.0
1  2.0  Billie  Fourth  22.0  0.377047     0.0
2  3.0  Robert  Fourth  20.0  0.274094     0.0
3  4.0     Don  Fourth  27.0  0.415665     0.0
4  5.0  Joseph  Fourth  21.0  0.503052     0.0

## Read SPSS File using Pandas

In [3]:
import pandas as pd

df = pd.read_spss('./SimData/survey_1.sav')

df.tail()

        ID       Name     Day   Age  Response  Gender
195  196.0  Francisca  Fourth  27.0  0.480961     1.0
196  197.0        Nia  Fourth  20.0  0.419361     1.0
197  198.0  Christina  Fourth  29.0  0.273347     1.0
198  199.0      Marta  Fourth  26.0  0.375722     1.0
199  200.0      Julia  Fourth  25.0  0.151065     1.0

In [4]:
cols = ['ID', 'Day', 'Age', 'Response', 'Gender']
df = pd.read_spss('./SimData/survey_1.sav', usecols=cols)
df.head()

    ID     Day   Age  Response  Gender
0  1.0  Fourth  23.0  0.348566     0.0
1  2.0  Fourth  22.0  0.377047     0.0
2  3.0  Fourth  20.0  0.274094     0.0
3  4.0  Fourth  27.0  0.415665     0.0
4  5.0  Fourth  21.0  0.503052     0.0

## Write a .sav file using Pyreadstat

In [ ]:
pyreadstat.write_sav(df, './SimData/survey_1_copy.sav')