In [1]:
import pandas as pd

df = pd.read_csv('./SimData/mannwu.csv')

df.head()

          X         Y
0  0.796469  0.831551
1  0.386139  0.831828
2  0.326851  0.934401
3  0.651315  1.149432
4  0.819469  1.024455

In [3]:
from scipy.stats import mannwhitneyu

mannwhitneyu(df['X'], df['Y'])

MannwhitneyuResult(statistic=81.0, pvalue=0.005434115153576264)

In [5]:
from pingouin import mwu

mwu(df['X'], df['Y'], tail='one-sided')

     U-val  tail     p-val  RBC  CLES
MWU   81.0  less  0.005434  0.5  0.75