In [3]:
import pandas as pd

data = 'https://raw.githubusercontent.com/marsja/jupyter/master/SimData/FifthDayData.csv'

df = pd.read_csv(data)

df.head()

   ID    Name    Day  Age  Response  Gender
0   1    John  Fifth   23  0.453733       0
1   2  Billie  Fifth   22  0.257360       0
2   3  Robert  Fifth   20  0.443393       0
3   4     Don  Fifth   27  0.423592       0
4   5  Joseph  Fifth   21  0.571355       0

In [9]:
df.Gender.rename({0:'Male'})

Male    0
1       0
2       0
3       0
4       0
       ..
195     1
196     1
197     1
198     1
199     1
Name: Gender, Length: 200, dtype: int64