## Pandas read_excel, ExcelWriter, and to_excel Example
This is a Jupyter notebook for the [Youtube tutorial explaining how to load multiple Excel sheets to dataframe](https://youtu.be/sspFLy0ju8E). You will learn how to read them to an ordered dictionary and then merge the dataframes into on dataframe. Finally, you will learn how to write multiple dataframes into one Excel file, with multiple sheets.

In [2]:
import pandas as pd

## Reading Multiple Sheets
Sometimes we need to read multiple spreadsheets into Pandas dataframe. In this example we are going to read two sheets, 'Session1' and 'Session2'. If you have more sheets, you can add them to the list (parameter *sheet_name*, is used to specify sheets).

In [3]:
sheets = pd.read_excel('example_sheets2.xlsx', sheet_name=['Session1', 'Session2'])

Doing this will give us a dictionary of dataframes:

In [4]:
sheets

OrderedDict([('Session1',         Name  ID  Mean  Correct  Session
              0       Pete   1    32       15        1
              1      Steve   2    31       14        1
              2       Dave   3    30       15        1
              3    Justine   4    31       13        1
              4   Frederic   5    45       14        1
              5       John   6    99       99        1
              6  Josephine   7    29       11        1
              7        Lee   8    35       14        1
              8      Roman   9    37       14        1
              9   Caroline  10    33       14        1),
             ('Session2',         Name  ID  Mean  Correct  Session
              0       Pete   1  31.0     14.0        2
              1      Steve   2  32.0     15.0        2
              2       Dave   3  29.0     14.0        2
              3    Justine   4  28.0     12.0        2
              4   Frederic   5  43.0      2.0        2
              5       John   6   NaN      NaN        2
              6  Josephine   7  31.0     11.0        2
              7        Lee   8  33.0     13.0        2
              8      Roman   9  38.0     15.0        2
              9   Caroline  10  33.0     14.0        2)])

In [28]:
sheet_to_df_map = pd.read_excel('example_sheets2.xlsx', sheet_name=None)
sheet_to_df_map

OrderedDict([('Session1',         Name  ID  Mean  Correct  Session
              0       Pete   1    32       15        1
              1      Steve   2    31       14        1
              2       Dave   3    30       15        1
              3    Justine   4    31       13        1
              4   Frederic   5    45       14        1
              5       John   6    99       99        1
              6  Josephine   7    29       11        1
              7        Lee   8    35       14        1
              8      Roman   9    37       14        1
              9   Caroline  10    33       14        1),
             ('Session2',         Name  ID  Mean  Correct  Session
              0       Pete   1  31.0     14.0        2
              1      Steve   2  32.0     15.0        2
              2       Dave   3  29.0     14.0        2
              3    Justine   4  28.0     12.0        2
              4   Frederic   5  43.0      2.0        2
              5       John   6   NaN      NaN        2
              6  Josephine   7  31.0     11.0        2
              7        Lee   8  33.0     13.0        2
              8      Roman   9  38.0     15.0        2
              9   Caroline  10  33.0     14.0        2)])

Maybe we want to join the data from all sheets (in this case sessions). Merging Pandas dataframes are quite easy. We just use the concat function and loop over the keys (i.e., sheets):

In [12]:
df = pd.concat(sheet_to_df_map[frame] for frame in sheet_to_df_map.keys())

In [13]:
sheet_to_df_map

        Name  ID  Mean  Correct  Session
0       Pete   1    32       15        1
1      Steve   2    31       14        1
2       Dave   3    30       15        1
3    Justine   4    31       13        1
4   Frederic   5    45       14        1
5       John   6    31       15        1
6  Josephine   7    29       11        1
7        Lee   8    35       14        1
8      Roman   9    37       14        1
9   Caroline  10    33       14        1
0       Pete   1    31       14        2
1      Steve   2    32       15        2
2       Dave   3    29       14        2
3    Justine   4    28       12        2
4   Frederic   5    43       12        2
5       John   6    35       13        2
6  Josephine   7    31       11        2
7        Lee   8    33       13        2
8      Roman   9    38       15        2
9   Caroline  10    33       14        2

## Writing Excel Files using Pandas

In [5]:
import pandas as pd

In the final example we are going to write 3 dataframes to one Excel file with multple sheets:

In [7]:
df1 = pd.DataFrame({'Names': ['Andreas', 'George', 'Steve',
                           'Sarah', 'Joanna', 'Hanna'],
                   'Age':[21, 22, 20, 19, 18, 23]})
df2 = pd.DataFrame({'Names': ['Pete', 'Jordan', 'Gustaf',
                           'Sophie', 'Sally', 'Simone'],
                   'Age':[22, 21, 19, 19, 29, 21]})
df3 = pd.DataFrame({'Names': ['Ulrich', 'Donald', 'Jon',
                           'Jessica', 'Elisabeth', 'Diana'],
                   'Age':[21, 21, 20, 19, 19, 22]})

dfs = {'Group1':df1, 'Group2':df2, 'Group3':df3}

writer = pd.ExcelWriter('NamesAndAges.xlsx', engine='xlsxwriter')
for sheet_name in dfs.keys():
    dfs[sheet_name].to_excel(writer, sheet_name=sheet_name, index=False)
    
writer.save()