## Renaming Columns

This is the Jupyter notebook for the YouTube Video (found [here](https://youtu.be/_Um3vVZQMok)) about renaming columns in Pandas Datframe.

In [1]:
import pandas as pd

df = pd.read_csv('./Simdata/play_data.csv',
                index_col=0)
df.head()

   Subject ID First Name    Day  Age  Response Time  Gender  Miss\Col
0           1       John  Sixth   23       0.562719       0       NaN
1           2     Billie  Sixth   22            NaN       0       NaN
2           3     Robert  Sixth   20            NaN       0       NaN
3           4        Don  Sixth   27       0.522961       0       NaN
4           5     Joseph  Sixth   21            NaN       0       NaN

## 1 Change the Name of a Single Column:

In [2]:
df.rename(columns={'Subject ID':'SubID'},
         inplace=True)

## 2 Change the Name of Two Columns

In [3]:
df.rename(columns={'Subject ID':'SubID',
                  'Day':'Session'},
         inplace=True)

## 3 Change the Name of Three Columns
As you can see, we just add a dictionary-value pair for each column we want to rename:

In [4]:
df.rename(columns={'Subject ID':'SubID',
                  'Day':'Session',
                  'Response Time':'RT'},
         inplace=True)

This way we can rename multiple columns in the dataframe. I.e., we can rename 2, 3, 4, 5, and so on, if we want to.

## 4 Rename Columns with df.columns:

In [5]:
import pandas as pd

df = pd.read_csv('./Simdata/play_data.csv',
                index_col=0)
df.head()

new_cols = ['ID', 'Name', 'Session',
           'Age', 'RT', 'Sex', 'MissingVals']

df.columns = new_cols

df.head()

   ID    Name Session  Age        RT  Sex  MissingVals
0   1    John   Sixth   23  0.562719    0          NaN
1   2  Billie   Sixth   22       NaN    0          NaN
2   3  Robert   Sixth   20       NaN    0          NaN
3   4     Don   Sixth   27  0.522961    0          NaN
4   5  Joseph   Sixth   21       NaN    0          NaN

In [6]:
## 5 Changing Column Names when Reading Data to a Dataframe:

In [7]:
import pandas as pd

new_cols = ['ID', 'Name', 'Session',
           'Age', 'RT', 'Sex', 'MissingVals']


df = pd.read_csv('./Simdata/play_data.csv',
                index_col=0)
df.head()

   Subject ID First Name    Day  Age  Response Time  Gender  Miss\Col
0           1       John  Sixth   23       0.562719       0       NaN
1           2     Billie  Sixth   22            NaN       0       NaN
2           3     Robert  Sixth   20            NaN       0       NaN
3           4        Don  Sixth   27       0.522961       0       NaN
4           5     Joseph  Sixth   21            NaN       0       NaN